.userplaces {
    width: 100%;
    background-color: rgba(212, 114, 33, 0.3);
    padding: 2rem;
    min-height: calc(100vh - 76px);
}

.container_places {
    max-width: 800px;
    margin: 0px auto;
}