.backdrop {
     width: 100vw;
     height: 100vh;
     z-index: 1;
     position: fixed;
     background-color: rgba(0,0,0,0.3);
     top: 0px;
     left: 0px
 }

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    width: 160px;
    z-index: 2;
    background-color: rgba(92, 65, 93, 0.8);
    box-shadow: 1px 1px 5px var(--purple);
    animation-name: sidebar;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    li {
        margin: 3rem 0px;
        text-align: center;
    }

        
    a {
        color: yellowgreen;

        &:hover {
            color: #f6f7eb;

            .line {
                height: 3px;
                background-color: yellowgreen;
                animation-name: lineAnimation;
                animation-fill-mode: forwards;
                animation-duration: 1s;
            }
        }

        .line {
            height: 3px;
            background-color: transparent;
        }
    
    }    
    
}

@keyframes sidebar {
    0% {
        transform: translateX(-100%);
    }
  
    100% {
        transform: translateX(0%)
    }
  }
